.deps
.libs
*~
*.a
*.gmo
*.la
*.lo
*.o
*.service
*.stamp
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
gtk-doc.make
gupnp-dlna-1.0.pc
gupnp-dlna-1.0-uninstalled.pc
install-sh
libgupnp-dlna/gupnp-dlna-marshal.c
libgupnp-dlna/gupnp-dlna-marshal.h
libtool
ltmain.sh
Makefile
Makefile.in
missing
mkinstalldirs
po/Makefile.in.in
po/POTFILES
stamp-*
tests/dlna-profile-parser
